.bodyBackground {
  background: url(https://media.giphy.com/media/l3nWgXCpQpMUOrkoo/giphy.gif);
  background-position: center;
  background-size: 100%;
  height: 100vh;
  display: flex;
}

.loginContainer {
  position: relative;
  margin: auto;
  background-color: #1c1c1c;
  opacity: 0.97;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  padding: 30px;
  overflow: hidden;
}

.loginContainer::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 400px;
  background: linear-gradient(0deg, transparent, var(--color-blue), var(--color-blue));
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}

.loginContainer::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 380px;
  background: linear-gradient(0deg, transparent, var(--color-blue), var(--color-blue));
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loginBody {
  position: absolute;
  z-index: 1;
  background-color: #23242a;
  inset: 2px;
  padding: 30px;
  color: var(--color-blue);
}

.loginHead {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.inputBox {
  position: relative;
  margin-bottom: 30px;
}

.loginInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 3px;
  padding: 10px;
  transition: 0.3s;
}

.loginLabel {
  position: absolute;
  left: 0;
  padding: 10px;
  color: #8f8f8f;
  font-weight: bold;
  transition: 0.3s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
  color: var(--color-blue);
  transform: translateY(-20px);
  font-size: 0.75em;
}

.loginInput:focus,
.loginInput:valid {
  border-bottom: 1px solid var(--color-blue);
  color: whitesmoke;
}

.loginButton[type="submit"] {
  margin-top: 20px;
  width: 30%;
  background-color: #359cb3;
  border: none;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.loginButton[type="submit"]:hover {
  background-color: #2e8598;
}

.registerContainer {
  color: #8f8f8f;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 0.751em;
}

.aLogin {
  color: var(--color-blue);
  text-decoration: none;
}

.aLogin:hover {
  text-decoration: underline;
}