@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --color-blue: #4ed9eb;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  background-color: rgba(22, 22, 23, 0.8);
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-position: 60%;
  background-origin: left;
  background-position-x: -10rem;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}
